$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.input-group {
    input.form-control {
        height: 34px;
    }
  
    .input-group-btn .btn {
        height: 34px;
    }
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
    
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 40px;
      padding-bottom: 19px;
    }
}

.gene-select-filters {
  .row {
    margin-bottom: 7px;
    
    &:first-child {
      margin-top: 7px;
    }
  }
}

.no-genes-placeholder {
  height: 250px;
}

.gene-summary-container {
    h3 {
        color: #777;
        margin-bottom: 40px;
    }
  
    .row {
        margin-bottom: 10px;
    }
  
    .summary-label {
        font-weight: bold;
        text-align: right;
    }
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Responsive */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        margin-bottom: 30px;
    }
    
    .gene-select-filters {
      .row:first-child {
        margin-top: 0;
      }
      
      .row:last-child {
        margin-bottom: 0;
      }
    }
}