<div class="dynamic-content-container gene-summary-container">
  <div>
    <a ng-href="#" class="btn btn-default pull-right">Back to list</a>
    <h3>{{gene.symbol}}: {{gene.name}}</h3>
  </div>
  
  <div class = "well">
    <div class="row">
      <div class="col-md-3 summary-label">
        Locus:
      </div>
      
      <div class="col-md-9">
        {{gene.locus}}
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3 summary-label">
        Type:
      </div>
      
      <div class="col-md-9">
        {{gene.type}}
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3 summary-label">
        Protein name:
      </div>
      
      <div class="col-md-9">
        {{gene.protein.name}}
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3 summary-label">
        Summary:
      </div>
      
      <div class="col-md-9">
        {{gene.description}}
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3 summary-label">
        Sequence interval:
      </div>
      
      <div class="col-md-9">
        <span ng-if="gene.intervalStart && gene.intervalStop">
          {{gene.intervalStart}} - {{gene.intervalStop}} on the <em>{{gene.strand}}</em> strand
        </span>
      </div>
    </div>
        
    <div class="row">
      <span class = "pull-right text-muted">Information last updated on {{gene.updatedAt}}</span>
    </div>
  </div>
</div>
